*.env

venv-fastapi
.python_packages
__pycache__
.venv
.zip
.tfstate
.vscode


telegram-azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.15.0/darwin_arm64/terraform-provider-azurerm_v4.15.0_x5
telegram-azure/terraform/terraform.tfvars.json
telegram-azure/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.15.0/darwin_arm64/terraform-provider-azurerm_v4.15.0_x5
telegram-azure/terraform/terraform.tfstate.backup
telegram-azure/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.15.0/darwin_arm64/LICENSE.txt
telegram-azure/terraform/terraform.tfstate
telegram-azure/terraform/terraform.tfstate
test files
Workshop files